/* ============================= RESET CSS & MAIN ============================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    font-family: "Agency FB";
    font-size: 1.5rem;
}

input, label, p {
    font-family: "Graphik-Regular-Web";
}

/* ============================= HEADER ============================= */

.navbar {
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    background: linear-gradient(to bottom, #D2B48C , #4B433A);
}

.navbar .container {
    display: flex;
    justify-content: flex-start;
    width: 1700px;
    height: 90px;
    border-style: hidden;
    border-radius: 0.5rem;
    border-width: 5px;
}

.navbar .container .navbar-logo {
    height: 75px;
    width: 75px;
}

.navbar .container .navbar-homepage {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 1100px;
    justify-items: end;
    align-items: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.navbar .container .navbar-homepage a {
    color: #B8C0D9;
}

/* ============================= BODY ============================= */

.main-page  {
    position: relative;
    width: 100%;
    height: 896px;
    z-index: 0;
    font-family: "Graphik-Regular-Web";
    background-color: #3A2F23;
}

.main-page .modify-pic {
    position: absolute;
    top: 0;
    left: 15%;
    filter: brightness(70%);
    object-fit: cover;
    z-index: -1;
}

.main-page .modify-pic::before {
    content: "";
    width: 100%;
    height: 896px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.register-form {
    position: absolute;
    top: 150px;
    z-index: 1;
    width: 100%;
    height: 860px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-form form {
    display: flex;
    box-sizing: border-box;
    width: 30%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.register-form .user {
    background-color: #DCDCDC;
    border-radius: 8px;
    box-sizing: border-box;
    border-style: hidden;
    height: 60px;
    font-size: 2.5rem;
    margin: 2rem;
    line-height: 1rem;
}

.register-form .remember {
    border-radius: 8px;
    box-sizing: border-box;
    height: 60px;
    font-size: 2.5rem;
    margin: 2rem;
    color: #E4C7AB;
}

.register-form .checkbox {
    height: 40%;
    width: 40%;
    background-color: #B8C0D9;
}

.register-form .submit {
    height: 5%;
    width: 22%;
    margin: 2rem;
    background-color: #D2B48C;
    border-radius: 8px;

}

/* ============================= FOOTER ============================= */

.main-footer p, a {
    color: #B8C0D9;
}

.main-footer .content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    align-content: center;
    justify-items: center;
    height: 200px;
    padding: 1rem;
    padding-left: 2rem;
    background: linear-gradient(to bottom, #4B433A, #D2B48C);
}

.main-footer .content .copyright {
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.main-footer .content img {
    margin-bottom: 1rem;
    display: inline-block;
    vertical-align: center;
}

.main-footer .content .list {
    font-size: 1rem;
    width: 600px;
}

.main-footer .content .list .end-navbar ul {
    display: flex;
    justify-content: space-around;
}

.main-footer .content .list .end-navbar li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer .content .list .end-navbar img {
    max-width: 32px;
    max-height: 32px;
}

.main-footer .content .list .end-navbar a {
    font-size: 1.5rem;
}